<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
			<li class="nav-header">Navigate</li>
      <li><a href={{site.url}}>Home</a></li>
      <li class="nav-header">About Birdr</li>
      <li><p>Created and maintained by: <a href="http://mohitthatte.com">Mohit Thatte</a></p></li>
			<li class="nav-header">Contributing</li>
      <li><p>Fork me on <a href="http://github.com/pastafari/birdr">Github</a></p></li>
      <li><p><a href="/contributing.html">More info</a></p></li>
			<li class="nav-header">Credits</li>
			<li><p>Designed with <a href="http://twitter.github.com/bootstrap"> Bootstrap </a></p></li>
			<li><p>Based on the phenomenal work of <a href="http://en.wikipedia.org/wiki/Salim_Ali">Dr. Salim Ali</a></p></li>
			<li><p>Thank you Dr. Shrirang Purohit</p></li>
			<li class="nav-header">Sharing</li>
			<li><p>TL;DR version: Do what you want as long as it is non-commercial and shared with the same licence</p></li>
			<li><p>For details click the image: <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></p></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
